
        #textMain {
            background-color: rgb(0, 0, 0);
            font-size: 40px;
            font-weight: bold;
            color: azure;
            padding: 10px;
            margin-left: 50px;
         }
